/* ================= */
/*       Navbar      */
/* ================= */

div.nav-background {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	background-color: #000;
	height: 7rem;
}

div.center-logo {
	margin-top: 1rem;
	text-align: center;
}

nav {
	position: sticky;
	z-index: 6000;
	top: 0;
	background-color: #00000099;
}

nav ul.menu {
	margin: 0;
	list-style-type: none;
	padding: 1rem 0;
	text-align: center;
}

nav ul.menu li {
	display: inline-flex;
	justify-content: center;
	padding: 0 1rem;
	position: relative;
}

nav ul.menu li a {
	text-decoration: none;
}

nav ul.menu hr.underline {
	position: absolute;
	top: 1.5rem;
	width: 0;
	border: 0;
	border-top: 1px solid #fff;
	margin: 0;
	opacity: 0;
	transition: opacity cubic-bezier(0.26, 1.05, 1, 1) 50ms,
		width cubic-bezier(0.26, 1.05, 1, 1) 150ms;
}

nav ul.menu li:hover hr.underline {
	opacity: 1;
	width: 4rem;
}

