/* ================= */
/* Sección Portfolio */
/* ================= */

section.portfolio {
	background: url(../imgs/background.jpg) center/cover no-repeat;
	padding: 2rem 0;
	overflow: hidden;
	position: relative;
}

section.portfolio h2.title {
	text-align: left;
	margin: 0 5rem;
	color: #64543c;
	-webkit-transform: rotate(-4deg);
	    -ms-transform: rotate(-4deg);
	        transform: rotate(-4deg);
	-webkit-transform-origin: 0%;
	    -ms-transform-origin: 0%;
	        transform-origin: 0%;
}

.portfolio-wrapper {
	display: inline-block;
	width: 26rem;
	height: 26rem;
	margin: 3rem 7rem;
	position: relative;
	border-radius: 50%;
}

.preview {
	width: 38rem;
	border-radius: 1rem;
	height: 29rem;	
}

.show-preview {
	position: relative;
	display: inline-block;
    bottom: .9rem;
    background-color: #0000007d;
    border: .5rem solid #64543c;
    box-shadow: inset 0rem 0rem 2.5rem 0.3rem;
}

.preview-img {
	position: absolute;
	top: 50%;
	left: 33.9rem;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity ease-in-out 1s;
	filter: grayscale(100%);
}

.portfolio-image {
	width: 8rem;
	height: 8rem;
	/* cursor: pointer; */
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	-webkit-box-shadow: inset 0.1rem 0.1rem 2rem;
	        box-shadow: inset 0.1rem 0.1rem 2rem;
	-webkit-filter: none;
	        filter: none;
	-webkit-transition: -webkit-filter linear 200ms;
			transition: -webkit-filter linear 200ms;
		 -o-transition: filter linear 200ms;
			transition: filter linear 200ms;
			transition: filter linear 200ms, -webkit-filter linear 200ms;
}

.portfolio-image:hover {
	-webkit-filter: sepia(80%);
	        filter: sepia(80%);
}

/* Íconos del portfolio */

.first-img {
	background: url(../imgs/portfolio/ciudad-zombie.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(270deg) 
						translate(13rem)
						rotate(-270deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(270deg) translate(13rem)
						rotate(-270deg);
			transform: 	translate(-50%, -50%) 
						rotate(270deg) 
						translate(13rem)
						rotate(-270deg);
}

.second-img {
	background: url(../imgs/portfolio/cv.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(230deg) 
						translate(13rem)
						rotate(-230deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(230deg) 
						translate(13rem)
						rotate(-230deg);
			transform: 	translate(-50%, -50%) 
						rotate(230deg) 
						translate(13rem)
						rotate(-230deg);
}

.third-img {
	background: url(../imgs/portfolio/encuestados.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(190deg) 
						translate(13rem)
						rotate(-190deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(190deg) translate(13rem)
						rotate(-190deg);
			transform: 	translate(-50%, -50%) 
						rotate(190deg) translate(13rem)
						rotate(-190deg);
}

.fourth-img {
	background: url(../imgs/portfolio/mapa-interactivo.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(150deg) 
						translate(13rem)
						rotate(-150deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(150deg) translate(13rem)
						rotate(-150deg);
			transform: 	translate(-50%, -50%) 
						rotate(150deg) translate(13rem)
						rotate(-150deg);
}

.fifth-img {
	background: url(../imgs/portfolio/peli-vs-peli.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(110deg) 
						translate(13rem)
						rotate(-110deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(110deg) 
						translate(13rem)
						rotate(-110deg);
			transform: 	translate(-50%, -50%) 
						rotate(110deg) 
						translate(13rem)
						rotate(-110deg);
}

.sixth-img {
	background: url(../imgs/portfolio/pixel-art.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(70deg) 
						translate(13rem) 
						rotate(-70deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(70deg) 
						translate(13rem) 
						rotate(-70deg);
			transform: 	translate(-50%, -50%) 
						rotate(70deg) 
						translate(13rem) 
						rotate(-70deg);
}

.seventh-img {
	background: url(../imgs/portfolio/que-veo.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(30deg) 
						translate(13rem) 
						rotate(-30deg);
		-ms-transform:  translate(-50%, -50%) 
						rotate(30deg) 
						translate(13rem) 
						rotate(-30deg);
			transform:  translate(-50%, -50%) 
						rotate(30deg) 
						translate(13rem) 
						rotate(-30deg);
}

.eighth-img {
	background: url(../imgs/portfolio/rompecabezas.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(-10deg) 
						translate(13rem) 
						rotate(10deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(-10deg) 
						translate(13rem) 
						rotate(10deg);
			transform: 	translate(-50%, -50%) 
						rotate(-10deg) 
						translate(13rem) 
						rotate(10deg);
}

.ninth-img {
	background: url(../imgs/portfolio/recargado.png) center/cover no-repeat;
	-webkit-transform: 	translate(-50%, -50%) 
						rotate(-50deg) 
						translate(13rem) 
						rotate(50deg);
		-ms-transform: 	translate(-50%, -50%) 
						rotate(-50deg) 
						translate(13rem) 
						rotate(50deg);
			transform: 	translate(-50%, -50%) 
						rotate(-50deg) 
						translate(13rem) 
						rotate(50deg);
}

h3.portfolio-label {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	color: #64543c;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition: opacity ease-in 500ms;
		 -o-transition: opacity ease-in 500ms;
			transition: opacity ease-in 500ms;
}

.portfolio-image:hover + h3.portfolio-label {
	opacity: 1;
}

/* Imágenes de la Preview */

.first-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/zombie.jpg) center/cover no-repeat;
}

.second-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/cv.png) center/cover no-repeat;
}

.third-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/encuestados.jpg) center/cover no-repeat;
}

.fourth-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/mapa.jpg) center/cover no-repeat;
}

.fifth-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/peli.jpg) center/cover no-repeat;
}

.sixth-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/pixel-art.png) center/cover no-repeat;
}

.seventh-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/que-veo.jpg) center/cover no-repeat;
}

.eighth-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/rompecabezas.jpg) center/cover no-repeat;
}

.ninth-img ~ .preview-img {
	background: url(../imgs/portfolio/preview/recargado.jpg) center/cover no-repeat;
}

.portfolio-image:hover ~ .preview-img {
	opacity: 1;
}
